* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #f1faee;
}
  
#root {
    height: 100vh;
}
  
html,
body {
    background-color: #003049;
    scroll-behavior: smooth;
}
  
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: #f1faee;
}

a {
    text-decoration: none;
    font-weight: 500;
    border: none;
    outline: none;
    color: #a8dadc;
}

a:hover {
    color: #e63946
}

h2 {
    margin: 1rem auto;
    color: #02c39a;
}

.header, .footer {
    display: flex;
    padding: 0.75rem;
    max-width: 1400px;
    justify-content: center;
}

.header {
    margin: 0 auto auto;
}

.header i {
    color: #02c39a;
    margin-right: 0.5rem;
}

.header h2 {
    margin: 1rem auto 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto auto;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 1400px;
}

.user-bar {
    display: flex;
    justify-content: space-around;
    padding: 0 2rem 0;
    margin-bottom: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    min-width: 500px;
}

.input,.btn{
    width: 100%;
    padding: 0.75rem 1rem ;
    font-size: 1.2rem;
    border: none;
    color: #003049;
    border-radius: 5px;
}

.input {
    margin-bottom: 1rem;
    outline: none;
    background-color: #f1faee;
  }

.btn {
    outline: none;
    margin: 1rem auto;
    cursor: pointer;
    background-color: #02c39a;
    text-transform: uppercase;
}

.input:focus {
    box-shadow: inset 2px 2px 5px 2px #a8dadc, inset -2px -2px 5px 2px #a8dadc ;
}

.btn:hover,.btn:focus {
    color: #f1faee;
}

.map {
    width: 90%;
    max-width: 1000px;;
    min-height: 500px;
    height: 70vh;
    max-height: 1000px;
    border-radius: 5px;
    margin: 1rem auto 2.5rem;
}

.leaflet-popup-content {
    text-align: center;
    font-weight: 500;
}

.leaflet-popup-content p {
    color: #02c39a;
}

.messages {
    height: 1rem;
    margin-bottom: 1.1rem;
}

.error {
    color: #e63946;
}

.success {
    color: #02c39a;
}

.info {
    color: #a8dadc; 
}

.dark {
    color: #003049;
}

.info-p {
    margin-bottom:  1rem;
}

.footer {
    margin: auto auto 0 ;
    padding-bottom: 1rem; 
}

@media (max-width: 800px){
    .form {
        min-width: 95%
    }
}    